{% extends "layout.html" %}

{% block body %}

<script type="text/javascript">
     $(function () {
        $('#datetime').datetimepicker({
            format: "YYYY-MM-DD HH:mm"
        });
        $('#datetimei').datetimepicker({
            format: "YYYY-MM-DD HH:mm"
        });
        $('#datetimei1').datetimepicker({
            format: "YYYY-MM-DD HH:mm"
        });
      });
     $('select').selectpicker();
</script>

<style></style>

</head>

<body>

<main role="main">

    <strong>
        <center><h2 style="margin-top:5%;">Add the Matches here</h2></center>
    </strong>

    <center><button type="button" class="btn btn-primary m-3 " data-toggle="modal"
            data-target=".bd-example-modal-lg">Add Team Match
    </button></center>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content p-3">
                <form action="/addMatch" method="POST">
                    <input type="hidden" name="type" value="team" class="form-control">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="sport">Sport</label><br>
                            <select class="selectpicker form-control" data-live-search="true" id="sport"
                                    style="display:block;" name="sport">
                                {% for sport in sports %}
                                <option value="{{sport.id}}">{{sport.sports_name}} - {{sport.category}}</option>
                                {% endfor %}
                            </select><br>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="college1">College-1</label><br>
                            <select class="selectpicker form-control" data-live-search="true" id="college1"
                                    style="display:block;" name="college1">
                                {% for college in colleges %}
                                <option value="{{college.id}}">{{college.clg_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="college2">College-2</label><br>
                            <select class="selectpicker form-control" data-live-search="true" id="college2"
                                    style="display:block;" name="college2">
                                {% for college in colleges %}
                                <option value="{{college.id}}">{{college.clg_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="datetime">Datetime</label><br>
                            <div class='input-group date' id='datetime'>
                                <input type='text' class="form-control" id="datetimetext" name="datetime"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="venue">Venue</label><br>
                            <input type='text' class="form-control" id="venue" name="venue" value="Swimming Pool"/>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="level">Level</label><br>
                            <select class="selectpicker form-control" id="level"
                                    style="display:block;" name="level">
                                
                                <option value="League [P-A]">League [P-A]</option>
                                <option value="League [P-B]">League [P-B]</option>
                                <option value="Semi-Final 1">Semi-Final 1</option>
                                <option value="Semi-Final 2">Semi-Final 2</option>
                                <option value="3rd Place">3rd Place</option>
                                <option value="Final">Final</option>
                                
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary m-3 ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    

    <center><button type="button" class="btn btn-primary m-3 " data-toggle="modal"
            data-target=".bd-example-modal2-lg">Add Individual Match (Only Final)
    </button>

    <div class="modal fade bd-example-modal2-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content p-3">
                <form action="/addMatch" method="POST">
                    <input type="hidden" name="type" value="individual">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="sporti">Sport</label><br>
                            <select class="selectpicker form-control" data-live-search="true" id="sporti"
                                    style="display:block;" name="sport">
                                {% for sport in sports %}
                                <option value="{{sport.id}}">{{sport.sports_name}} - {{sport.category}}</option>
                                {% endfor %}
                            </select><br>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="sporti">Players</label><br>
                            <select class="selectpicker form-control" multiple data-live-search="true" id="players"
                                    style="display:block;" name="players">
                                {% for player in players %}
                                <option value="{{player.id}}">{{player.name}} - {{player.clg_name}}</option>
                                {% endfor %}
                            </select><br>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="datetime">Datetime</label><br>
                            <div class='input-group date' id='datetimei'>
                                <input type='text' class="form-control" id="datetimetexti" name="datetime"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="venue">Venue</label><br>
                            <input type='text' class="form-control" id="venuei" name="venue" value="Swimming Pool"/>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="level">Level</label><br>
                            <select class="selectpicker form-control" id="level"
                                    style="display:block;" name="level">
                                
                                <!-- <option value="League">Heats</option>
                                <option value="Semi-Final">Time-Trails</option> -->
                                <option value="Final">Final</option>
                                
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary m-3 ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

     <center><button type="button" class="btn btn-primary m-3 " data-toggle="modal"
            data-target=".bd-example-modal1-lg">Add Relay Match  (Only Time-Trial/Final)
    </button><br>
    <h7>For Indivdual & Relay Matches- Add matches here and goto Live score page to finalise there winners.</h7></center>
    <div class="modal fade bd-example-modal1-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content p-3">
                <form action="/addMatch" method="POST">
                    <input type="hidden" name="type" value="relay">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="sporti">Sport</label><br>
                            <select class="selectpicker form-control" data-live-search="true" id="sporti"
                                    style="display:block;" name="sport">
                                {% for sport in sports %}
                                <option value="{{sport.id}}">{{sport.sports_name}} - {{sport.category}}</option>
                                {% endfor %}
                            </select><br>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="datetime">Datetime</label><br>
                            <div class='input-group date' id='datetimei1'>
                                <input type='text' class="form-control" id="datetimetexti1" name="datetime"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="venue">Venue</label><br>
                            <input type='text' class="form-control" id="venuei" name="venue" value="Swimming Pool"/>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="level">Level</label><br>
                            <select class="selectpicker form-control" id="level"
                                    style="display:block;" name="level">
                                
                                <!-- <option value="League">Heats</option>
                                <option value="Semi-Final">Time-Trails</option> -->
                                <option value="Final">Final</option>
                                
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary m-3 ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


  <!-- Bootstrap 4 JavaScript -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>



{% endblock %}