{% extends "layout.html" %}

{% block body %}

</head>

<body>

   <!--==========================
    Intro Section
  ============================-->

  <section id="intro" class="clearfix">
    <div class="container">
      
      <div class="intro-img">
        <img src="{{ url_for('static', filename='img/Sports-PNG-Image.png') }}" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>We reward your<br><span>Excellence</span><br>in sports!</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
          <a href="#services" class="btn-services scrollto">Brochure</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>54th Inter IIT Sports Meet</h3>
          <p>In the words of Julie Foudy, “Sports not only build better athletes but also better people.”</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
             IITs have always strived to give equal importance to sports, extra-curriculars and co-curriculars in order to build strong well-rounded, holistic individuals.
            </p>

             <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">The Legacy</a></h4>
              <p class="description">With 53 years of legacy, Inter IIT sports meet is an intense battle to victory as the best minds of the country prove their mettle in sports. It is the largest and longest running Inter-collegiate meet, being held from 1961.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Bright Side</a></h4>
              <p class="description">In 2019, IIT KGP and IIT BBS will host the 54th edition of this premiere event. The meet is expanding in all it’s domains which include events, participation, sponsorships, social initiatives and audience attraction.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Competiton Heat</a></h4>
              <p class="description">The stakes are high this time, as each and every IIT wishes to take the trophy back home. The 14 sports where students can showcase their skills are athletics, badminton, football, volleyball, basketball, cricket, hockey, lawn tennis, squash, swimming, table tennis, water polo, weightlifting and chess.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            
            <img src="{{ url_for('static', filename='img/games.jpg') }}" class="img-fluid" alt="">
            <img src="{{ url_for('static', filename='img/winner.jpg') }}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <br><!-- <br> -->
            <img src="{{ url_for('static', filename='img/kgp.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Mother of all IITs - IIT Kharagpur</h4>
            <p>
              In keeping with its motto ‘योगः कर्मसु कौशलम् ’ or ‘Yoga is skill in works’, IIT Kharagpur has always put utmost importance on hard work and perseverance, which are the key ingredients for success in any field. Being the oldest IIT, it has never shied away from taking responsibility or taking the lead and showing its younger counterparts, the way.
            </p>
            <p>
              Here in the midst of the beautiful and calm town of Kharagpur, away from the hustle and bustle of the metros, lies the largest and the oldest, aptly named ‘ mother of all IITs’.
              IIT Kharagpur has done justice to the dreams of the stalwarts who established it and has helped foster the greatest minds of the country, who have gone on to excel in varied fields, ranging from politics to media, sports to entrepreneurship, and science to engineering.
            </p>
          <!--   <p>The unique thing about this home away from home is that it has always given its inhabitants the freedom to pursue any path they wish. The sheer exposure that one gains, characteristic to this place, explains why students from IIT Kharagpur have gone on to become not just ISRO scientists, landing Chandrayan on the moon, but also professional MMA fighters, and the lead bassist of the most famous Indian rock band .
            </p> -->
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <!-- <br><br> -->
            <img src="{{ url_for('static', filename='img/gymkhana1.jpg') }}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>About Gymkhana</h4>
            <p>
           Technology Students’ Gymkhana is the hub of the numerous extra-curricular and co-curricular activities in IIT Kharagpur. The Gymkhana is managed by the students, for the students, under the guidance and active participation of the faculty and staff members. 
            </p>
            <p>
           Our goal is to bring overall development in IITians through cultivating and nurturing their extra-curricular talents. The Technology Students Gymkhana provides a host of facilities like an olympic sized swimming pool, indoor badminton, squash and basketball courts, a humongous ground, and well equipped tracks, to nurture the students talents.  
            </p>
            
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Sports</h3>
          <p>In 2019, IIT Kharagpur and IIT Bhubaneswar will jointly host the 54th edition Inter IIT sports meet. There will be 14 games organised by IIT kharagpur and the rest 7 by IIT Bhubaneswar. The 14 games that will be organised by IIT Kharagpur are following:</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Swimming & Water polo</a></h4>
              <p class="description">
                <ul>
                    <li>Swimming: Individual | Both M&W | Max. 2 participants from each category</li> 
                    <li>Water Polo: Team | Only M | Max. 13 players in a team</li>
                </ul>
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Lawn tennis & Table Tennis</a></h4>
              <p class="description">
                <ul>
                    <li>Lawn Tennis: Team | Both M&W | Max. 4 players in a team for both categories</li>
                    <li>Table Tennis: Team | Both M&W | Max. 4 players in a team for both categories</li>
                </ul>
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Football, Volleyball & Basketball</a></h4>
              <p class="description">
                <ul>
                    <li>Football: Team | Only M | Max. 16 players in a team</li>
                    <li>Volleyball: Team | Both M&W | Max. 12 players in a team  for both categories</li>
                    <li>Basketball: Team | Both M&W | Max. 12 players in a team for men and 11 players for women</li>
                </ul>
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Cricket, Hockey & Chess</a></h4>
              <p class="description">
                <ul>
                  <li>Cricket: Team | Only M | Max. 15 players in a team</li>
                  <li>Hockey: Team | Only M | Max. 16 players in a team</li>
                  <li>Chess:  Mixed | Both M&W | Team of 6 participants</li>
                </ul>
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Badminton & Squash</a></h4>
              <p class="description">
                <ul>
                  <li>Badminton: Team | Both M&W | Max. 5 players in a team for men and 3 players for women</li>
                  <li>Squash: Team | Both M&W(demo) | Max. 4 players in a team for men and 3 players for women</li>
                </ul>
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Athletics & Weightlifting</a></h4>
              <p class="description">
                <ul>
                  <li>Athletics: Both Individual & team games | 18 games for men & 11 games for women | Max 2 participants for each game</li>
                  <li>Weightlifting: Individual| 5 games only for men | Max. 2 participant for each game </li>
                
                </ul>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
     <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>Inter IIT 2019</h3>
          <p>Born in 1961, with only 5 IITs mustering a participation of 500 students in its first edition hosted by IIT Bombay, the event has grown steadily since.</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-diamond"></i>
              <div class="card-body">
                <h5 class="card-title">Golden Chance</h5>
                <p class="card-text">Golden Chance to prove yourself in the field of sports.</p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-language"></i>
              <div class="card-body">
                <h5 class="card-title">Sportsmen Talk</h5>
                <p class="card-text">Motivate yourself in the light of great sportsmen's and celebrity lectures.</p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-object-group"></i>
              <div class="card-body">
                <h5 class="card-title">Social initiatives</h5>
                <p class="card-text">Involve yourself in making a change for better society and world. </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

        </div>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">23</span>
            <p>Top Colleges</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">3500</span>
            <p>Participation</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">312</span>
            <p>Hours Of Sports</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">14</span>
            <p>Games</p>
          </div>
  
        </div>

      </div>
    </section>

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Some Snapshots</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-speaker">speakers</li>
              <li data-filter=".filter-event">events</li>
              <li data-filter=".filter-initiative">initiatives</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-speaker">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/speaker1.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://en.wikipedia.org/wiki/Sachin_Tendulkar" target="_blank">Sachin Tendulkar</a></h4>
                <p>speaker</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/speaker1.jpg') }}" data-lightbox="portfolio" data-title="Sachin Tendulkar" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://en.wikipedia.org/wiki/Sachin_Tendulkar" target="_blank" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-initiative" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/init1.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://www.facebook.com/ZindagiDirection/posts/world-blood-donor-day-blood-donation-awareness-campaign-signature-campaign-by-zi/1917888668303716/" target="_blank">Blood Donation</a></h4>
                <p>initiative</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/init1.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="initiative 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://www.facebook.com/ZindagiDirection/posts/world-blood-donor-day-blood-donation-awareness-campaign-signature-campaign-by-zi/1917888668303716/" target="_blank" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-speaker" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/speaker2.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://en.wikipedia.org/wiki/Bhakti_Sharma" target="_blank">Bhakti Sharma</a></h4>
                <p>speaker</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/speaker2.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="speaker 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://en.wikipedia.org/wiki/Bhakti_Sharma" target="_blank" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-event">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/event1.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://en.wikipedia.org/wiki/Basketball" target="_blank">Baketball</a></h4>
                <p>event</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/event1.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="event 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://en.wikipedia.org/wiki/Basketball" target="_blank" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-event" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/event6.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://en.wikipedia.org/wiki/Basketball"  target="_blank">Baketball</a></h4>
                <p>event</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/event6.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="initiative 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://en.wikipedia.org/wiki/Basketball" target="_blank" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-speaker" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/speaker3.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://en.wikipedia.org/wiki/Shreyas_Talpade" target="_blank" >Shreyas Talpade</a></h4>
                <p>speaker</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/speaker3.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="speaker 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://en.wikipedia.org/wiki/Shreyas_Talpade" target="_blank" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-event">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/event2.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://en.wikipedia.org/wiki/Cricket" target="_blank" >Cricket</a></h4>
                <p>event</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/event2.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="event 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://en.wikipedia.org/wiki/Cricket" target="_blank"  class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-event" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/event3.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://en.wikipedia.org/wiki/Volleyball" target="_blank">Volleyball</a></h4>
                <p>event</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/event3.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="event 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://en.wikipedia.org/wiki/Volleyball" target="_blank"  class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-initiative" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/init3.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://en.wikipedia.org/wiki/Blood_donation_in_India" target="_blank">Blood Donation</a></h4>
                <p>initiative</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/init3.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="initiative 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://en.wikipedia.org/wiki/Blood_donation_in_India" target="_blank"  class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-event" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/event4.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://en.wikipedia.org/wiki/Bodybuilding" target="_blank" >Bodybuilding</a></h4>
                <p>event</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/event4.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="initiative 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://en.wikipedia.org/wiki/Bodybuilding" target="_blank"  class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-speaker" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/speaker4.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#" target="_blank">Speaker</a></h4>
                <p>speaker</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/speaker4.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="initiative 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" target="_blank"  class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-initiative" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/init4.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#" target="_blank">Unity Marathon</a></h4>
                <p>initiative</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/init4.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="initiative 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" target="_blank"  class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- #portfolio -->

  



    <!--==========================
      Team Section
    ============================-->
<!--     <section id="team">
      <div class="container">
        <div class="section-header">
          <h3>Team</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team-1.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team-2.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team-3.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team-4.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> --><!-- #team -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header">
          <h3>Our Sponsors</h3>
          <p>Contact us to put your shining logo on our website!!</p>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-1.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-2.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-3.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-4.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row wow fadeInUp">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.0239927280527!2d87.30833705118756!3d22.314932347929155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1d440255555547%3A0x6f2f20dd0c0d6793!2sIndian%20Institute%20of%20Technology%20Kharagpur!5e0!3m2!1sen!2sin!4v1567810191131!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>

            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>IIT Kharagpur, India 721302</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p>gsecsportsiitkgp@gmail.com</p>
              </div>
              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>+91 8979569245</p>
              </div>
            </div>

            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm" id="input-form" target="no-target">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" id="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
              <iframe src="#" id="no-target" name="no-target" style="display: none;"></iframe>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

<script type="text/javascript">
        $('#input-form').on('submit',function(e){

              var inputq1 = encodeURIComponent($('#name').val());
              var inputq2 = encodeURIComponent($('#email').val());
              var inputq3 = encodeURIComponent($('#subject').val());
              var inputq4 = encodeURIComponent($('#message').val());
              var q1ID = "entry.1917549726";
              var q2ID = "entry.924793814";
              var q3ID = "entry.900156501";
              var q4ID = "entry.1642759043";

              var baseURL = 'https://docs.google.com/forms/d/e/1FAIpQLSff0f3BTzpZAVS9aSzT0p1t2L_DRqJ0owKBwydeFYmP4Ccl0w/formResponse?';
              var submitRef = '&submit=Submit';
              var submitURL = (baseURL + q1ID + "=" + inputq1 + "&" + q2ID + "=" + inputq2 + "&" + q3ID + "=" + inputq3 + "&" + q4ID + "=" + inputq4 +  submitRef);
              $(this)[0].action=submitURL;

              //alert("Thank You!")
              swal("Message sent!", "Thank you for contacting. We'll reply soon.", "success");

              document.getElementById("input-form").reset();
          });
      </script>


<!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

   <!-- Bootstrap 4 JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>


   <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/mobile-nav/mobile-nav.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}




