{% extends "layout.html" %}

{% block body %}

<script type="text/javascript">

$(document).ready(function() {

  var live_ids = [];

      {% for match in live %}

      var t = parseInt('{{ match.id }}')
      live_ids.push(t);
      {% endfor %}

    console.log('current live ids: ' + live_ids);

 setInterval(function(){
    console.log('current live ids: ' + live_ids);
    $.ajax({
        data : {},
        type : 'POST',
        url : '/getLiveMatches_Ajax'
    })
    .done(function(data) {
      //alert(data);

      data = JSON.parse(data);

      var new_live_ids = [];

     for (var i in data["live"]){
       new_live_ids.push(data["live"][i]['id']);
    }
        console.log('new live ids: ' + new_live_ids);


      if(JSON.stringify(live_ids)==JSON.stringify(new_live_ids)){
        console.log('Matching');
        for(j in data["live"]){
            $('#score1_'+ data["live"][j]['id']).html(data["live"][j]['score1']);
            console.log('id: ' +  data["live"][j]['id'] + ' score1: ' + data["live"][j]['score1']);
            $('#score2_'+ data["live"][j]['id']).html(data["live"][j]['score2']);
            console.log('id: ' +  data["live"][j]['id'] + ' score2: ' + data["live"][j]['score2']);
            $('#commentry_'+ data["live"][j]['id']).html(data["live"][j]['commentry']);
            console.log('commentry: ' + data["live"][j]['id'] + data["live"][j]['commentry']);
       }
     }else{
       console.log('Not Matching');
        location.reload();
        }
    });

   }, 10000);

});
  </script>

    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    </style>


</head>

<body>

    <main role="main">

      <!--<p>{{live}}</p>-->
      <!--<p>{{prev}}</p>-->
      <!--<button id = "button">Live</button>-->
      <strong><center><h2  style="margin-top:5%;">Live scoring of matches will be auto updated on this page. Also, previous matches data will be shown here.</h2></center></strong>
      <hr>

      <center><h2>Live Matches</h2></center>
        <div class="row">
            {% for pmatch in live %}
          <div class="col-md-3">
            <div class="card p-3 m-3 text-center">
                <div class="card-header">
                    <strong>{{ pmatch.sport }}</strong>
                  </div>
              <div class="card-body">
                  <h5 class="card-title"><strong>{{ pmatch.clg1}} vs {{ pmatch.clg2 }} </strong></h5>
                <p class="card-text">
                    <strong> Venue </strong> {{pmatch.venue}} <br>
                    <strong> Score1 </strong> <h7 id="score1_{{ pmatch.id }}">{{pmatch.score1}}</h7> <br>
                    <strong> Score2 </strong> <h7 id="score2_{{ pmatch.id }}">{{pmatch.score2}}</h7> <br>
                  <strong> Commentry </strong> <h7 id="commentry_{{ pmatch.id }}">{{pmatch.commentry}}</h7>
                </p>
                  {% if current_user.is_authenticated  and current_user.privilege == 3 %}
                   <a href="#" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Update</a>
                  {% endif %}
                  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"  aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content p-3">
                          <form action="/setMatchDetails" method="POST">
                              <input type="hidden" value="{{pmatch.id}}" name="id">
                              <div class="form-group">
                                <label for="score1">Score1</label>
                                <input type="text" class="form-control" id="score1" placeholder="Score 1" name="score1">
                              </div>
                              <div class="form-group">
                                <label for="score2">Score2</label>
                                <input type="text" class="form-control" id="score2" placeholder="Score 2" name="score2">
                              </div>
                               <div class="form-group">
                                <label for="commentary">Commentary</label>
                                <input type="text" class="form-control" id="commentary" placeholder="Commentary" name="commentary">
                              </div>
                              <button type="submit" class="btn btn-primary" id="update">Submit</button>
                            </form>
                        </div>
                      </div>
                    </div>
                    {% if current_user.is_authenticated and current_user.privilege == 3 %}
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal2-lg">End</a>
                    {% endif %}
                  <div class="modal fade bd-example-modal2-lg" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content p-3">
                          <form action="/endMatchDetails" method="POST">
                              <input type="hidden" value="{{pmatch.id}}" name="id">
                              <div class="form-group">
                                <label for="status">Status</label>
                                <input type="text" class="form-control" id="status" placeholder="Status" name="status">
                              </div>
                              <div class="form-group">
                                    <label for="colleges">Winner College</label>
                                      <select class="form-control" id="colleges" name="winner_clg_id">
                                          {% for val in colleges %}
                                            <option value="{{val.id}}">{{val.clg_name}}</option>
                                          {% endfor %}
                                      </select>
                              </div>
                              <button type="submit" class="btn btn-primary" id="end">Submit</button>
                            </form>
                        </div>
                      </div>
                    </div>
              </div>
                <div class="card-footer text-muted">
                    <strong>{{ pmatch.level }}</strong>
                  </div>
            </div>
          </div>
            {% endfor %}
        </div>

<br><br>

       <center><h2>Previous Team Matches </h2></center>

        <div class="row">
            {% for pmatch in prev %}
          <div class="col-md-3">
            <div class="card p-3 m-3 text-center">
                <div class="card-header">
                    <strong>{{ pmatch.sport }}</strong>
                  </div>
              <div class="card-body">
                  <h5 class="card-title"><strong>{{ pmatch.clg1}} vs {{ pmatch.clg2 }} </strong></h5>
                <p class="card-text">
                    <strong> Winner </strong> {{pmatch.winner}} <br>
                    <strong> Score1 </strong> {{pmatch.score1}} <br>
                    <strong> Score2 </strong> {{pmatch.score2}}
                </p>
              </div>
                <div class="card-footer text-muted">
                    <strong>{{ pmatch.level }}</strong>
                  </div>
            </div>
          </div>
            {% endfor %}
        </div>

        <br><br>

        <center><h2>Previous Individual Matches </h2></center>

        <div class="row">
            {% for pmatch in prev2 %}
          <div class="col-md-3">
            <div class="card p-3 m-3 text-center">
                <div class="card-header">
                    <strong>{{ pmatch.sport }}</strong>
                  </div>
              <div class="card-body">
                <p class="card-text">
                    <strong> {{pmatch.player1.name}} </strong> {{pmatch.player1.college}} <br>
                    <strong> {{pmatch.player2.name}} </strong> {{pmatch.player2.college}} <br>
                    <strong> {{pmatch.player3.name}} </strong> {{pmatch.player3.college}} <br>
                    <strong> {{pmatch.player4.name}} </strong> {{pmatch.player4.college}} <br>
                </p>
              </div>
                <div class="card-footer text-muted">
                    <strong>{{ pmatch.level }}</strong>
                  </div>
            </div>
          </div>
            {% endfor %}
        </div>

    </main>
{% endblock %}