{% extends "layout.html" %}

{% block body %}




<script type="text/javascript">

    $(document).ready(function(){

    $("#button").on('click', function(event) {

    event.preventDefault();

    $.ajax({
      data : {
        username : $('#username').val(),
        password : $('#password').val()
      },
      type : 'POST',
      url : '/login'
    })
    .done(function(data){
      console.log(data);
      if(data === "Success") window.location.href = "scorecard";
      if(data === "Fail") alert("Wrong Password");
    });

    });
    });
</script>

</head>

<body>
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <br><br>

          <form validate>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="text" class="form-control" placeholder="Username" id="username" name="username" required data-validation-required-message="Please enter your username ">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="password" id="password" placeholder="Password" class="form-control" aria-describedby="passwordHelpBlock" name="password">
              </div>
            </div>

            <div id="success"></div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary" id="button">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    <br><br>



{% endblock %}