{% extends "layout.html" %}

{% block body %}



<script type="text/javascript">

	$(document).ready(function() {


		$('#framework').multiselect({
			  nonSelectedText: 'Select Framework',
			  enableFiltering: true,
			  enableCaseInsensitiveFiltering: true,
			  buttonWidth:'400px'
			 });

	$('form').on('submit', function(event) {

		var brands = $('#framework option:selected');
        var selected = [];
        $(brands).each(function(index, brand){
            selected.push([$(this).val()]);
        });

        console.log(selected);

        selected_string = selected.toString();

        alert(selected_string);

		$.ajax({
			data: new FormData(this),
			data : {
				name : $('#name').val(),
				email : $('#email').val(),
				mobile : $('#mobile').val(),
				jursey_name : $('#jursey_name').val(),
				fav_athelete : $('#fav_athelete').val(),
				biggest_motivator : $('#biggest_motivator').val(),
				fitness_mantra : $('#fitness_mantra').val(),

                food : $("input[name='food']:checked").val(),
                gender : $("input[name='gender']:checked").val(),
			 	blood_group : $("input[name='blood_group']:checked").val(),

			 	college : $('#college option:selected').val(),
                password: $('#password').val(),

				selected_sports: selected_string
			},

			// data: $('#registerForm').serialize(),
			type : 'POST',
			url : '/test'
		})
		.done(function(data) {

			console.log(data);
			alert(data);

		{
	    $('#framework option:selected').each(function(){
	     $(this).prop('selected', false);
	    });
	    $('#framework').multiselect('refresh');
	   }

		});

		event.preventDefault();



	});

});


	</script>









</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#header"><span>Inter IIT</span></a></h1>
        <!-- <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/scorecard">Scorecard</a></li>
          <li><a href="/getLiveMatches">Live Score</a></li>
          <li><a href="/schedule">Schedule</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/info">Info</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Signup</a></li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->
   <br><br><br>



    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        


          <br><br>
          <form name="sentMessage" id="registerForm" novalidate>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
               <!--  <label>Name</label> -->
                <input type="text" class="form-control" placeholder="Name" id="name" name='name' required data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="email" class="form-control" placeholder="Email Address" id="email" name="email" required data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

             <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="number" class="form-control" placeholder="Mobile" id="mobile" name='mobile' required data-validation-required-message="Please enter your phone">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="text" class="form-control" placeholder="Jursey Name" id="jursey_name" name="jursey_name" required data-validation-required-message="Please enter your Jursey Name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="text" class="form-control" placeholder="Favourite Player" id="fav_athelete" name="fav_athelete">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="text" class="form-control" placeholder="Biggest Motivator" id="biggest_motivator" name="biggest_motivator">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="text" class="form-control" placeholder="Fitness Mantra" id="fitness_mantra" name="fitness_mantra">
                <p class="help-block text-danger"></p>
              </div>
            </div>

           <div class="control-group">
            <div class="form-group floating-label-form-group controls">
            <label>Food: </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="food" id="veg" value="Veg">
                  <label class="form-check-label" for="veg">Veg</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="food" id="nonveg" value="Non-Veg">
                  <label class="form-check-label" for="nonveg">Non-Veg</label>
                </div>
              </div>
            </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
            <label>Gender: </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="M" value="M">
                  <label class="form-check-label" for="M">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="F" value="F">
                  <label class="form-check-label" for="F">Female</label>
                </div>
              </div>
            </div>

          <div class="control-group">
             <div class="form-group floating-label-form-group controls">
                <label>Blood Group: </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="blood_group" id="A+" value="A+">
                  <label class="form-check-label" for="A+">A+</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="blood_group" id="A-" value="A-">
                  <label class="form-check-label" for="A-">A-</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="blood_group" id="B+" value="B+">
                  <label class="form-check-label" for="B+">B+</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="blood_group" id="B-" value="B-">
                  <label class="form-check-label" for="B-">B-</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="blood_group" id="O+" value="O+">
                  <label class="form-check-label" for="O+">O+</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="blood_group" id="O-" value="O-">
                  <label class="form-check-label" for="O-">O-</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="blood_group" id="AB+" value="AB+">
                  <label class="form-check-label" for="AB+">AB+</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="blood_group" id="AB-" value="AB-">
                  <label class="form-check-label" for="AB-">AB-</label>
                </div>
            </div>
          </div>
          

        <div class="control-group">
           <div class="form-group floating-label-form-group controls">
         <!-- <select class="form-control selectpicker" id="select-country" data-live-search="true"> -->
            <select class="form-control" id="college" data-live-search="true" name="college">
                <option selected >Selet your college</option>
                <option value="1">IIT Kharagpur</option>
                <option value="2">IIT Kanpur</option>
                <option value="3">IIT Bombay</option>
                <option value="4">IIT Roorkee</option>
            </select>
          </div>
        </div>

          <div class="control-group">
      <div class="form-group floating-label-form-group controls">
   <input type="password" id="password" placeholder="Password" class="form-control" aria-describedby="passwordHelpBlock" name="password">
    <small id="passwordHelpBlock" class="form-text text-muted">
      Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
    </small>
      </div>
    </div>

         <div class="form-group">
	     <label>Select Your Sport/Sports: </label>
		     <select id="framework" name="framework[]" multiple class="form-control" >
			      <option value="Codeigniter">Codeigniter</option>
			      <option value="CakePHP">CakePHP</option>
			      <option value="Laravel">Laravel</option>
			      <option value="YII">YII</option>
			      <option value="Zend">Zend</option>
			      <option value="Symfony">Symfony</option>
			      <option value="Phalcon">Phalcon</option>
			      <option value="Slim">Slim</option>
		     </select>
    </div>

        <!--<div class="control-group">-->
            <!--<div class="form-group floating-label-form-group controls">-->
              <!--<div class="custom-file">-->
                <!--<input type="file" class="custom-file-input" id="customFile" name="profile_img">-->
                <!--<label class="custom-file-label" for="customFile">Select profile picture</label>-->
              <!--</div>-->
            <!--</div>-->
       <!--</div>-->


        <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Register</button>
        </div>
          </form>
        </div>
      </div>
    </div>

    <br><br>



{% endblock %}