{% extends "layout.html" %}

{% block body %}

<style type="text/css">
    .multiselect-container {
        width: 100% !important;
    }
</style>
<script type="text/javascript">

    function reload() {
        window.location.href = '/showCandidates';
    }

    function sleep(delay) {
    var start = new Date().getTime();
    while (new Date().getTime() < start + delay);
}

    $(document).ready(function () {


        $("#sports_select").hide();

        $("input[name$='type']").click(function () {
            var test = $(this).val();

            if (test == "P") {
                $("#sports_select").show();
            } else
                $("#sports_select").hide();
        });

        $('#framework').multiselect({
            nonSelectedText: 'Select Sports',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '100%'
        });

        $('form').on('submit', function (event) {


            if ($("input[name='type']:checked").val() === "S") {
                selected_string = "staff";
            } else {
                var brands = $('#framework option:selected');
                var selected = [];
                $(brands).each(function (index, brand) {
                    selected.push([$(this).val()]);
                });

                // console.log(selected);
                // if(selected.length === 0 ) {
                //     swal("Try Again!", "Select the games", "error");
                //     alert("Try again");
                //     fail;
                //     // alert("Try again");
                //     // return;
                // }
                var selected_string = selected.toString();
            }


            // alert(selected_string);
            if(selected_string != "" ){
            $("#RegisterButton").attr("disabled", true);
            // document.getElementById("RegisterButton").disabled = true;
            $("#RegisterButton").html('Please wait...');
            // sleep(5000);
            var formData = new FormData(document.querySelector('#registerForm'));
            formData.append("selected_sports", selected_string);

            $.ajax({
                data: formData,
                type: 'POST',
                url: '/register',
                contentType: false,
                cache: false,
                processData: false,
                async: false
            })
                .done(function (id) {
                    $("#RegisterButton").attr("disabled", false);
                    $("#RegisterButton").html('Register');
                    console.log(id);
                    if (id === 'Success') {
                        swal("Awesome!", "Candidate Registered Successfully!", "success");
                        
                        $("#registerForm").trigger("reset");
                        $('#customFileLabel').html("Select profile picture");

                        $('#framework option:selected').each(function () {
                        $(this).prop('selected', false);
                        });
                        $('#framework').multiselect('refresh');

                        // alert("Candidate Registered Successfully!");
                    } else swal("Try Again!", id, "error");
                   

                });

            }else alert("Select Sports!");

            event.preventDefault();
        });

    });


</script>


<!-- Main Content -->
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">


            <br><br>
            <form name="sentMessage" id="registerForm" validate>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <!--  <label>Name</label> -->
                        <input type="text" class="form-control" placeholder="Name" id="name" name='name' required
                               data-validation-required-message="Please enter your name.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <input type="email" class="form-control" placeholder="Email Address" id="email" name="email"
                               required data-validation-required-message="Please enter your email address.">
                        <small class="form-text text-muted">
                            unique for each registration
                        </small>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <input type="text" id="roll_no" placeholder="Roll No. / Enrollment Number" class="form-control"
                               aria-describedby="passwordHelpBlock" name="roll_no" required
                               data-validation-required-message="Please fill this field.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <input type="number" maxlength="10" class="form-control" placeholder="Mobile" id="mobile" name='mobile'
                               required data-validation-required-message="Please enter your phone">
                        <small class="form-text text-muted">
                            unique for each registration
                        </small>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <input type="text" class="form-control" placeholder="Jursey Name" id="jursey_name"
                               name="jursey_name" required
                               data-validation-required-message="Please enter your Jursey Name.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <!-- <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Arrival date</label>
                        <input type="date" class="form-control" placeholder="Arrival Date" id="arr_date"
                               name="arr_date" required
                               data-validation-required-message="Please enter your favourite athelete.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Departure date</label>
                        <input type="date" class="form-control" placeholder="Departure Date" id="dep_date"
                               name="dep_date" required
                               data-validation-required-message="Please fill this field.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div> -->

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <input type="text" class="form-control" placeholder="Any special instruction to OC"
                               id="special_inst"
                               name="special_inst">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="profile_img" required
                                   data-validation-required-message="Select an image first.">
                            <label class="custom-file-label" for="customFile" id="customFileLabel">Select profile
                                picture</label>
                            <script>
                                $('#customFile').on('change', function () {
                                    var fileName = $(this).val();
                                    $(this).next('#customFileLabel').html(fileName);
                                })
                            </script>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Food: </label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="food" id="veg" value="Veg" required
                                   data-validation-required-message="Select food type">
                            <label class="form-check-label" for="veg">Veg</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="food" id="nonveg" value="Non-Veg"
                                   required data-validation-required-message="Select food type">
                            <label class="form-check-label" for="nonveg">Non-Veg</label>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Gender: </label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="M" value="M" required
                                   data-validation-required-message="Select gender">
                            <label class="form-check-label" for="M">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="F" value="F" required
                                   data-validation-required-message="Select gender">
                            <label class="form-check-label" for="F">Female</label>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Blood Group: </label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="blood_group" id="A+" value="A+" required
                                   data-validation-required-message="Select blood group">
                            <label class="form-check-label" for="A+">A+</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="blood_group" id="A-" value="A-" required
                                   data-validation-required-message="Select blood group">
                            <label class="form-check-label" for="A-">A-</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="blood_group" id="B+" value="B+" required
                                   data-validation-required-message="Select blood group">
                            <label class="form-check-label" for="B+">B+</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="blood_group" id="B-" value="B-" required
                                   data-validation-required-message="Select blood group">
                            <label class="form-check-label" for="B-">B-</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="blood_group" id="O+" value="O+" required
                                   data-validation-required-message="Select blood group">
                            <label class="form-check-label" for="O+">O+</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="blood_group" id="O-" value="O-" required
                                   data-validation-required-message="Select blood group">
                            <label class="form-check-label" for="O-">O-</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="blood_group" id="AB+" value="AB+"
                                   required data-validation-required-message="Select blood group">
                            <label class="form-check-label" for="AB+">AB+</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="blood_group" id="AB-" value="AB-"
                                   required data-validation-required-message="Select blood group">
                            <label class="form-check-label" for="AB-">AB-</label>
                        </div>
                    </div>
                </div>


                <!--                <div class="control-group">-->
                <!--                    <div class="form-group floating-label-form-group controls">-->
                <!--                        &lt;!&ndash; <select class="form-control selectpicker" id="select-country" data-live-search="true"> &ndash;&gt;-->
                <!--                        <select class="form-control" id="college" data-live-search="true" name="college">-->
                <!--                            <option selected>Selet your college</option>-->
                <!--                            {% for sport in college %}-->
                <!--                                <option value={{ sport.id }}> {{ sport.clg_name }}</option>-->
                <!--                            {% endfor %}-->
                <!--                        </select>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Type: </label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" id="P" value="P" required
                                   data-validation-required-message="Select type">
                            <label class="form-check-label" for="P">Player</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" id="S" value="S" required
                                   data-validation-required-message="Select type">
                            <label class="form-check-label" for="S">Staff</label>
                        </div>

                    </div>
                </div>


                <div class="form-group" id="sports_select">
                    <label>Select sport/sports from the dropdown: </label>
                    <select id="framework" name="framework" multiple="multiple" class="form-control">
                        {% for sport in allSports %}
                        <option value={{ sport.id }}> {{ sport.sports_name + '(' + sport.category + ')' }}</option>
                        {% endfor %}
                    </select>
                </div>


                <div id="success"></div>
                <div class="form-group">
                    <center>
                        <button type="submit" class="btn btn-primary" id="RegisterButton">Register</button>
                    </center>
                </div>

            </form>
        </div>
    </div>
</div>

<br><br>

    <script src="{{ url_for('static', filename='lib/mobile-nav/mobile-nav.js') }}"></script>

{% endblock %}