{% extends "layout.html" %}

{% block body %}

</head>

<body>

 
<section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Sports</h3>
          <p>In 2019, IIT Kharagpur and IIT Bhubaneswar will co-host the 54th edition Inter IIT Sports Meet. 10 sports will be organised by IIT Kharagpur while the rest 4 by IIT Bhubaneswar.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Swimming & Water polo</a></h4>
              <p class="description">
                <ul>
                    <li>Swimming: Individual | Both M&W | Max. 2 participants from each category</li>
                    <li>Water Polo: Team | Only M | Max. 13 players in a team</li>
                </ul>
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Lawn tennis & Table Tennis</a></h4>
              <p class="description">
                <ul>
                    <li>Lawn Tennis: Team | Both M&W | Max. 4 players in a team for men and 3 players for women</li>
                    <li>Table Tennis: Team | Both M&W | Max. 4 players in a team for men and 3 players for women</li>
                </ul>
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Football, Volleyball & Basketball</a></h4>
              <p class="description">
                <ul>
                    <li>Football: Team | Only M | Max. 16 players in a team</li>
                    <li>Volleyball: Team | Both M&W | Max. 12 players in a team  for both categories</li>
                    <li>Basketball: Team | Both M&W | Max. 12 players in a team  for both categories</li>
                </ul>
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Cricket, Hockey & Chess</a></h4>
              <p class="description">
                <ul>
                  <li>Cricket: Team | Only M | Max. 16 players in a team</li>
                  <li>Hockey: Team | Only M | Max. 16 players in a team</li>
                  <li>Chess:  Mixed | Both M&W | Team of 6 participants</li>
                </ul>
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Badminton & Squash</a></h4>
              <p class="description">
                <ul>
                  <li>Badminton: Team | Both M&W | Max. 5 players in a team for men and 3 players for women</li>
                  <li>Squash: Team | Both M&W(demo) | Max. 4 players in a team for men and 3 players for women</li>
                </ul>
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Athletics & Weightlifting</a></h4>
              <p class="description">
                <ul>
                  <li>Athletics: Both Individual & team games | 18 games for men & 11 games for women | Max 2 participants for each game</li>
                  <li>Weightlifting: Individual| 5 games only for men | Max. 2 participant for each game | Max 10 players </li>

                </ul>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>

{% endblock %}
