{% extends "layout.html" %}

{% block body %}

<body>

    <main role="main">

      <div class="jumbotron">
        <!-- <object data="{{ url_for('static', filename='Schedule.pdf') }}" type="application/pdf">
          <p>Alternative text - include a link <a href="myfile.pdf">to the PDF!</a></p>
        </object> -->

        <!--embed src= "{{ url_for('static', filename='Schedule.pdf') }}" width= "100%" height= "800px"> --> 
     
          <!-- <iframe src="{{ url_for('static', filename='Schedule.pdf') }}" style="width:100%;height:800px;"></iframe> -->

        <object data="https://drive.google.com/file/d/1DD7tL20azHHcSPTe_bfMfKREuMgeS4RL/preview" width="100%" height="800px">
      <embed src="https://drive.google.com/file/d/1DD7tL20azHHcSPTe_bfMfKREuMgeS4RL/preview" width="100%" height="800px"/>
          <p>This browser does not support PDFs. Please download the PDF to view it: <a href="https://drive.google.com/file/d/1ZKgZhUuBr_-nLnbpExhQmqKCx_1QqxT2/preview">View the PDF</a>.</p>
      </embed></object>

      </div>

      <div class="container">
       

      </div> <!-- /container -->

    </main>



    <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

   <!-- Bootstrap 4 JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>


   <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/mobile-nav/mobile-nav.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}