{% extends "layout.html" %}

{% block body %}

<body>

    <main role="main">

      <div class="jumbotron">
        <!-- <object data="{{ url_for('static', filename='Schedule.pdf') }}" type="application/pdf">
          <p>Alternative text - include a link <a href="myfile.pdf">to the PDF!</a></p>
        </object> -->

        <embed src= "{{ url_for('static', filename='Schedule.pdf') }}" width= "100%" height= "800px">
      </div>

      <div class="container">
       

      </div> <!-- /container -->

    </main>
{% endblock %}