{% extends "layout.html" %}

{% block body %}

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
</style>

<script type="text/javascript">

$(document).ready(function() {

  var colleges = [];

      {% for college in college_list %}
      colleges.push({
          id:   {{ college.id }},
          college_name: '{{ college.clg_name }}'
      });
      {% endfor %}

      colleges.push({
          id:   24,
          college_name: 'None'
      });

     $('#fetch').on('click', function(event) {
         event.preventDefault();
      $.ajax({
        //data: new FormData(this),
        data : {
          sport_id : parseInt($('#sport option:selected').val()),
        },
        type : 'POST',
        url : '/scorecard'
      })
      .done(function(data) {
        console.log(data);
        data = JSON.parse(data);
        console.log(data.name);
        for(clg in colleges){
            console.log(clg);
            $("#name_"+clg).text(data.name);
            $("#point_"+clg).html(data[clg]);
        }
        });
    });
});

</script>

<br><br><br>

       <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

      <form>
          <div class="control-group">
               <div class="form-group floating-label-form-group controls">
              <!--<select class="form-control selectpicker" id="select-country" data-live-search="true">-->
                <select class="form-control" id="sport" data-live-search="true" name="sport" validate>
                    <option selected >Select Sport</option>
                    {% for sport in sports_list %}
                    <option value={{  sport.id  }}>{{  sport.sport_name  }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <center>
                <div id="success"></div>
                <div class="form-group">
                  <button class="btn btn-primary" id="fetch">Fetch</button>
                </div>
            </center>
        </form>
            </div>
          </div>
        </div>
          <div class="row">
              {% for val in points %}
              <div class="col-md-4">
                <div class="card m-3 p-3">
                  <div class="card-body">
                      <h5 class="card-title"><strong>{{val.name}}{{val.rank}}</strong> {{val.point}} </h5>
                      <p class="card-text">
                          <strong id="name_{{val.clg_id}}"></strong>
                          <h7 id="point_{{val.clg_id}}"></h7>
                      </p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
  <br/>

<!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

   <!-- Bootstrap 4 JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>


   <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/mobile-nav/mobile-nav.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}

