{% extends "layout.html" %}

{% block body %}

<script type="text/javascript">
function delet(id){
    console.log(id);
    $.ajax({
			data : id,
            type : 'POST',
            url : '/deletePlayer',
            contentType: false,
            cache: false,
            processData: false,
            async: false
		})
		.done(function(id){
		    console.log(id);
		    window.location.href = '/showCandidates';
		});
}
</script>

<div class="container">

    <br><br>
    {% for param in params: %}
    <div class="alert alert-info" style="padding: 20px;">
        <strong>{{param[0].name}} <br> </strong> {{param[1]}}
        <button type="button" class="btn btn-danger float-right" onclick="delet({{param[0].id}})">Delete</button>
    </div>
    {% endfor %}
    <button type="button" class="btn btn-success" onclick="window.location.href = '/register'; ">Add</button>
    <br><br>

</div>

{% endblock %}