{% extends "layout.html" %}

{% block body %}

<script type="text/javascript">

function myFunction() {
  window.location.href = '/showCandidates';
}

function delet(id){
    console.log(id);
    swal({
  title: "Are you sure?",
  text: "Once deleted, player will be deregistered form the meet and all provided details will be lost!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {

    $.ajax({
            data : id,
            type : 'POST',
            url : '/deletePlayer',
            contentType: false,
            cache: false,
            processData: false,
            async: false
        })
        .done(function(id){
            // console.log(id);
            swal("Poof! Player Removed!", {
              icon: "success",
            });
            setTimeout(myFunction, 1500);
            
        });

    
  } else {
    swal("Player still registered!");
  }
});



    
}



</script>

<div class="container" style="margin-top: 3%">

    <br><br>
    <center><h1>Role : {{current_user.role}}</h1></center>
    <hr>
    {% for param in params: %}
    <div class="alert alert-info" style="padding: 20px;">
        <strong>{{param[0].name}} <br> </strong> {{param[1]}}
        <button type="button" class="btn btn-danger float-right" onclick="delet({{param[0].id}})">Delete</button>
    </div>
    {% endfor %}
    <center><button type="button" class="btn btn-success" onclick="window.location.href = '/register'; ">Add Player</button></center>
    <br><br>

</div>

{% endblock %}