{% extends "layout.html" %}

{% block body %}


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <body class="bg">
 -->
<div class="container">
</div>
<div class="row">
	<div class="col-md-12 col-xs-12">
		<h2 style="text-align:center;margin-top:5%">
			InterIIT Sports 2019: Sponsors
			<br>
			<br>
		</h2>
	</div>
</div>




<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4 col-sm-12">
		<h3 style="text-align:center">
			<strong>IN ASSOCIATION WITH</strong>
			<br>
		</h3>
		<div class="thumbnail" style="border:none">
			<a href="https://shyamsteel.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/shyamsteel.png') }}" alt="Lights"
					style="width:40%">
			</a>
		</div>
	</div>
	<div class="col-md-4">
	</div>
</div>

<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4 col-sm-12">
		<h3 style="text-align:center">
			<strong>Powered By</strong>
			<br>
		</h3>
		<div class="thumbnail" style="border:none">
			<a href="https://www.vedantalimited.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/vedanta.png') }}" alt="Lights" style="width:40%">
			</a>
		</div>
	</div>
	<div class="col-md-4">
	</div>
</div>

<br>
<br>


<div class="row">
	<div class="col-md-3 col-md-offset-1 col-xs-5" style="margin-left:5">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Brought To You By </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<a href="https://www.bankofbaroda.in" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/bankofbaroda.png') }}" alt="Lights"
					style="width:40%; margin-top: 15%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Major Sponsor </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="https://www.hdfcbank.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/hdfcBank.png') }}" alt="Lights" style="width:50%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Pronites Title Sponsor </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="https://www.denvergov.org" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/denver.png') }}" alt="Lights" style="width:50%">
			</a>
		</div>
	</div>
</div>



<div class="row">
	<div class="col-md-3 col-md-offset-1 col-xs-5" style="margin-left:5">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Associate Sponsor </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<a href="https://www.coca-cola.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/cocacola.png') }}" alt="Lights"
					style="width:40%; margin-top: 15%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Associate Sponsor </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="https://www.spartanpoker.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/spartan.png') }}" alt="Lights" style="width:50%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Fashion Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="www.forcenxt.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/forcenxt.png') }}" alt="Lights" style="width:50%">
			</a>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-3 col-md-offset-1 col-xs-5" style="margin-left:5">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Healthcare Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<a href="https://www.medicahospitals.in/" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/medicahospitals.png') }}" alt="Lights"
					style="width:40%; margin-top: 15%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Festival Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="https://sunburn.in" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/sunburn.png') }}" alt="Lights" style="width:50%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Entertainment Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="http://www.tribevibe.in/" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/tribeVibe.jpg') }}" alt="Lights" style="width:50%">
			</a>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-3 col-md-offset-1 col-xs-5" style="margin-left:5">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Insurance Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<a href="https://www.licindia.in" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/lic.png') }}" alt="Lights"
					style="width:40%; margin-top: 15%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Innovation Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="#" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/avenoir.png') }}" alt="Lights" style="width:50%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Banking Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="https://karnatakabank.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/karnatakabank.jpg') }}" alt="Lights"
					style="width:50%">
			</a>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-3 col-md-offset-1 col-xs-5" style="margin-left:5">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Hydration Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<a href="https://www.bisleri.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/bisleri.jpg') }}" alt="Lights"
					style="width:40%; margin-top: 15%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Fueled By </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="https://www.iocl.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/indianoil.jpg') }}" alt="Lights" style="width:50%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Fitness Challenge Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="https://www.thunderpod.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/thunderpod.jpg') }}" alt="Lights"
					style="width:50%">
			</a>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-3 col-md-offset-1 col-xs-5" style="margin-left:5">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Pizza Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<a href="https://www.dominos.co.in" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/dominos.png') }}" alt="Lights"
					style="width:40%; margin-top: 15%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Audio Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="https://www.zebronics.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/zebronics.png') }}" alt="Lights" style="width:50%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Marketing Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="#" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/rambo.png') }}" alt="Lights" style="width:50%">
			</a>
		</div>
	</div>
</div>



<div class="row">
	<div class="col-md-3 col-md-offset-1 col-xs-5" style="margin-left:5">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Merchandise Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<a href="https://fastechfashions.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/fastechfashions.png') }}" alt="Lights"
					style="width:40%; margin-top: 15%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Apparel Partner </strong>png
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="https://www.aesthetials.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/aestheticwear.jpg') }}" alt="Lights"
					style="width:50%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Greenery Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="#" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/dolly.jpg') }}" alt="Lights" style="width:50%">
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3 col-md-offset-1 col-xs-5" style="margin-left:5">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Gifting partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<a href="https://amleatherindia.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/amleather.jpg') }}" alt="Lights"
					style="width:40%; margin-top: 15%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Snacking Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="#" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/bittu.png') }}" alt="Lights" style="width:50%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Food Partners </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="https://smartpind.petpooja.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/smartpindlogo.png') }}" alt="Lights"
					style="width:50%">
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3 col-md-offset-1 col-xs-5" style="margin-left:5">
		<h5 style="text-align:center; font-size: 20px;">
			<strong>Messaging Partner </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<a href="https://www.tekhook.in" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/tekhook.png') }}" alt="Lights"
					style="width:40%; margin-top: 15%">
			</a>
		</div>
	</div>

	<div class="col-md-3 col-xs-5" style="margin-left:5%">
		<h5 style="text-align:center; font-size: 20px;">
			<strong> Online Media Partners </strong>
		</h5>
		<div class="thumbnail" style="border:none">
			<BR>
			<a href="https://fistosports.com" target="_blank">
				<img src="{{ url_for('static', filename='Spons_Logos/fistosports.png') }}" alt="Lights"
					style="width:50%">
			</a>
		</div>
	</div>

	<!-- <div class="col-md-3 col-xs-6" style="margin-left:5%">
                 				<h5 style="text-align:center; font-size: 20px;">
                					<strong> </strong>
                				</h5>
                				<div class="thumbnail" style="border:none">
                					<BR>
                						<a href="https://www." target = "_blank">
                					<img src = "{{ url_for('static', filename='Spons_Logos/.png') }}" alt="Lights" style="width:50%">
                						</a>
                				</div>
                    </div> -->
</div>


<!--

                          <div class="row">
                            <div class="col-md-3 col-md-offset-1 col-xs-6" style="margin-left:5">
                       				<h5 style="text-align:center; font-size: 20px;">
                      					  <strong> </strong>
                      				</h5>
                      				<div class="thumbnail" style="border:none">
                      					<a href="#" target = "_blank">
                      					<img src = "{{ url_for('static', filename='Spons_Logos/.png') }}" alt="Lights" style="width:40%; margin-top: 15%">
                      					</a>
                      				</div>
                            </div>

                            <div class="col-md-3 col-xs-6" style="margin-left:5%">
                       				<h5 style="text-align:center; font-size: 20px;">
                      					<strong> </strong>
                      				</h5>
                      				<div class="thumbnail" style="border:none">
                      					<BR>
                      						<a href="#" target = "_blank">
                      					<img src = "{{ url_for('static', filename='Spons_Logos/.png') }}" alt="Lights" style="width:50%">
                      						</a>
                      				</div>
                          	</div>

                            <div class="col-md-3 col-xs-6" style="margin-left:5%">
                         				<h5 style="text-align:center; font-size: 20px;">
                        					<strong> </strong>
                        				</h5>
                        				<div class="thumbnail" style="border:none">
                        					<BR>
                        						<a href="#" target = "_blank">
                        					<img src = "{{ url_for('static', filename='Spons_Logos/.png') }}" alt="Lights" style="width:50%">
                        						</a>
                        				</div>
                            </div>
                      	</div> -->
{% endblock %}