{% extends "layout.html" %}

{% block body %}


<style>
    .imgcontainer {
        position: relative;
    }

    /* Bottom right text */
    .text-block {
        position: absolute;
        bottom: 2%;
        right: 5%;
        background-color: black;
        color: white;
        padding: 1%;
    }
</style>

</head>

<!-- Main Content -->
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-md-4 m-1">
            <div class="card-img-block imgcontainer">
                <img class="card-img-top" src="/static/members/aadi.jpg"
                     alt="Card image cap">
                <div class="text-block">
                    <h5 style="margin: 0px !important;">Aadi Swadipto Mondal</h5>
                    <p style="margin: 0px !important;">Web Head</p>
                </div>
            </div><br>
        </div>
        <div class="col-md-4 m-1">
            <div class="card-img-block imgcontainer">
                <img class="card-img-top" src="/static/members/aadi.jpg"
                     alt="Card image cap">
                <div class="text-block">
                    <h5 style="margin: 0px !important;">Aadi Swadipto Mondal</h5>
                    <p style="margin: 0px !important;">Web Head</p>
                </div>
            </div><br>
        </div>
        <div class="col-md-4 m-1">
            <div class="card-img-block imgcontainer">
                <img class="card-img-top" src="/static/members/aadi.jpg"
                     alt="Card image cap">
                <div class="text-block">
                    <h5 style="margin: 0px !important;">Aadi Swadipto Mondal</h5>
                    <p style="margin: 0px !important;">Web Head</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>

{% endblock %}