{% extends "layout.html" %}

{% block body %}

<section id="about">
  <div class="container">

    <header class="section-header">
      <h3>Inter IIT Sports Meet</h3>
      <p>Born in 1961, with only 5 IITs mustering a participation of 500 students in its first edition hosted by IIT
        Bombay, the event has grown steadily since.</p>
    </header>

    <div class="row about-container">

      <div class="col-lg-6 content order-lg-1 order-2">
        <p>
          IITs have always strived to give equal importance to sports, extra-curriculars and co-curriculars in order to
          build strong well-rounded, holistic individuals.
        </p>

        <div class="icon-box wow fadeInUp">
          <div class="icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="title"><a href="">The Heritage</a></h4>
          <p class="description">With 53 years of legacy, Inter IIT sports meet is an intense battle to victory as the
            best minds of the country prove their mettle in sports.</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-photo"></i></div>
          <h4 class="title"><a href="">Bright Side</a></h4>
          <p class="description">In 2019, IIT KGP and IIT BBS will host the 54th edition of this premiere event. This
            time the meet is expanding in all it’s domains.</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title"><a href="">Competiton Heat</a></h4>
          <p class="description">The stakes are high this time, as each and every IIT wishes to take the trophy back
            home. There will be 14 sports where students can showcase their skills.</p>
        </div>

      </div>

      <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
        <br>
        <img src="{{ url_for('static', filename='img/Sports-PNG.png') }}" class="img-fluid" alt="">
        <!-- <img src="{{ url_for('static', filename='img/game.jfif') }}" class="img-fluid" alt=""> -->

      </div>
    </div>

    <div class="row about-extra">
      <div class="col-lg-6 wow fadeInUp">
        <br><!-- <br> -->
        <img src="{{ url_for('static', filename='img/kgp1.jpg') }}" class="img-fluid" style="border-radius: 8px;"
          alt="">
      </div>
      <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
        <h4>Mother of all IITs - IIT Kharagpur</h4>
        <p>
          In keeping with its motto ‘योगः कर्मसु कौशलम् ’ or ‘Yoga is skill in works’, IIT Kharagpur has always put
          utmost importance on hard work and perseverance, which are the key ingredients for success in any field. Being
          the oldest IIT, it has never shied away from taking responsibility or taking the lead and showing its younger
          counterparts, the way.
        </p>
        <p>
          Here in the midst of the beautiful and calm town of Kharagpur, away from the hustle and bustle of the metros,
          lies the largest and the oldest, aptly named ‘ mother of all IITs’.
          IIT Kharagpur has done justice to the dreams of the stalwarts who established it and has helped foster the
          greatest minds of the country, who have gone on to excel in varied fields, ranging from politics to media,
          sports to entrepreneurship, and science to engineering.
        </p>
        <!--   <p>The unique thing about this home away from home is that it has always given its inhabitants the freedom to pursue any path they wish. The sheer exposure that one gains, characteristic to this place, explains why students from IIT Kharagpur have gone on to become not just ISRO scientists, landing Chandrayan on the moon, but also professional MMA fighters, and the lead bassist of the most famous Indian rock band .
            </p> -->
      </div>
    </div>

    <div class="row about-extra">
      <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
        <!-- <br><br> -->
        <img src="{{ url_for('static', filename='img/gymkhana1.jpg') }}" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
        <h4>About Gymkhana</h4>
        <p>
          Technology Students’ Gymkhana is the hub of the numerous extra-curricular and co-curricular activities in IIT
          Kharagpur. The Gymkhana is managed by the students, for the students, under the guidance and active
          participation of the faculty and staff members.
        </p>
        <p>
          Our goal is to bring overall development in IITians through cultivating and nurturing their extra-curricular
          talents. The Technology Students Gymkhana provides a host of facilities like an olympic sized swimming pool,
          indoor badminton, squash and basketball courts, a humongous ground, and well equipped tracks, to nurture the
          students talents.
        </p>

      </div>

    </div>

  </div>
</section><!-- #about -->

{% endblock %}